body{
    margin: 0px 5vw;
    width: 90vw;
    max-width: 1100px;
    background: #7777d8; 
    
}

.myDiv1 { 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;

}
#txt1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    height: 50vw;;
    margin-left: 17vw;
}

#txt2{
    
          font-family:Georgia, 'Times New Roman', Times, serif;
          color: white;
          background: linear-gradient(-45deg, #bceef3, #19afe5, #1303f3, #9bb3e1);
          background-size: 400% 400%;
          ;
          
          
    width: 90vw;
    height: 27vw;
    margin-left: 17vw;
    margin: 2vw 1vw;
    left:0;
    font-size: 1.5vw;
}



.box{
    height: 20vw;
    width: 90vw;
    display: flex;
}
.button {
    background-color: white;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 80px;
  }
  .button:hover{
    color: #bceef3;
    background-color: #000000;
  }
  
  
  .button1 {border-radius: 40px;}
  .button2 {border-radius: 40px;}
  

.hello { 
	background: #0f0f11; 
}

.infographic{ 
	background: #ff6699; 
}

section {
    display: block;
    text-align: left;
  }

.fourth-color { 
	background: #ffaded; 
}

.primary-text-color { 
	color: #212121; 
}

.secondary-text-color { 
	color: #757575; 
}

.divider-color { 
	color: #BDBDBD; 
}

.icon-color { 
	color: #000000; 
}





#b3{
 
    height: 25vw;
}

table
{
    border-collapse: separate;
border-spacing: 0 1.3vw;
overflow-x: auto;
}

#tablet{
    margin-top: 10vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px black;
    color: black;
    margin-left: 50%;
    font-size: 3.5vw;
    
}
th{
    background-color: #757575; 
    color: whitesmoke;
    font-size: 1.2vw;
    height: 10vw;
    width: 20vw;
}
td{
    vertical-align: top;
    width: 80vw;
}
tr{
    background-color: white;
    box-shadow: 0 0 10px black;
}
#TableHeading{
    font-size: 2vw;
}

#field
{
    font-size: 1.3vw;
}
td #field{
    font-size: 2vw;
}
#school
{
color: grey;
text-transform: uppercase;
}


#con{
    font-size: 3vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px black;
}
#ff{
    width: 85vw;
    height: 45vw;
}
legend
{
font-family: Georgia, 'Times New Roman', Times, serif;
color: rgb(156, 102, 177);
text-shadow: 0 1vw 4vw black;
font-size: 3vw;
}
fieldset{
   
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #030302;
    font-size: 1.5vw;
    width: 86.5vw;
    background-color: grey;
}
textarea{
    resize: none;
    vertical-align: top;
    text-align: left;
    overflow-x: auto;
    width: 56vw;
}

label {
    display: inline-block;
    width: 13vw;
    margin-left: 5vw;
  }

input{
    font-size: 1.3vw;
}


#hr{
    display: none;
}

#radiobuttons
{
font-size: 1.3vw;
font-family: 'Roboto Mono', monospace;
color: white;
}

#more{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    background:white;
          background-size: 400% 400%;
         
    text-decoration-color: white;
          border: #000000;
      
    width: 90vw;
    height: 15vw;
    margin-left: 17vw;
    margin: 2vw 1vw;
    left:0;
    font-size: 1.5vw;
    text-align: left;
}
#mail{
    font-size: 4vw;
    text-align: right;
    margin-left: 50vw;
    
}

.reflect{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1vw;
    text-align: left;
}

.git{

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1vw;
    text-align: left;;
}


